<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


html {
	margin-left: 20px;
	padding-left: 10px;
	}

#s {
		background-image: url("bubble.jpg");
   	background-repeat: no-repeat;
		background-position: right top;
    background-attachment: fixed;
	   height:700px;
     width: 100%;
	   text-align: right;
		 text-transform: uppercase;
		 letter-spacing: 5px;
		 text-indent: 50px;
		 line-height: 9.8;
		 word-spacing: 15px;
		 		 }
	h1{
justify-content: center;
			}


body {
	font: 1.4em georgia, sans-serif;
	line-height: 1.88889;
	color: grey;
  	margin: 10px;
	padding: 10px;
	}

  h3 {
  	font: italic normal 1.4em georgia, sans-serif;
  	letter-spacing: 1px;
  	margin-bottom: 0;
  	color: #7D775C;
  	}

	h2 {
		font: normal 1.4em georgia, sans-serif;
  	letter-spacing: 1px;
  	margin-bottom: 0;
  	color: #7D775C;
	}

#b {
	height: 600px;
	width: 50%;
	margin: 20px;
  padding: 20px;
	background-color: lightblue
}

#c {
	height: 700px;
	width: 50%;
	margin-left: 600px;
  padding-left: : 600px;
}

#p {
	height:675px;
	width:100%;
	margin: 20px;
  padding: 20px;
	background-image: url("modernmansion.jpg");
}

#white {
	color: darksalmon;
}
