<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


html {
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	}

li {
	justify-content: space-around;
	padding-right: 20px;
}

#stress {
		display: list-item;
		text-align: center;
		list-style: none;
		padding-right: 1000px;
		margin-right: 1000px;
}

#s {
		background-image: url("chessss.jpg");
   	background-repeat: no-repeat;
		background-position: right;
    background-attachment: local;
	   height:620px;
     width: 100%;
	   text-align: center;
		 text-transform: uppercase;
		 letter-spacing: 5px;
		 text-indent: 40px;
		 line-height: 2.8;
		 word-spacing: 6px;
		 		 		 }

	#checkmate {
padding-left: 650px;
color: black;
font-size: 5vw;
width: 25%;
			}

#lowercase {
	text-transform: lowercase;
	padding-left: 675px;
	color: black;
	word-spacing: 5px;
}


body {
	font: 1.4em georgia, sans-serif;
	line-height: 1.88889;
  	margin: 10px;
	padding: 10px;
	}

  h3 {
  	font: italic normal 1.4em georgia, sans-serif;
  	letter-spacing: 1px;
  	margin-bottom: 0;
  	color: #7D775C;
  	}

	h2 {
		font: normal 1.4em georgia, sans-serif;
  	letter-spacing: 1px;
  	margin-bottom: 0;
  	color: #7D775C;
	}

#b {
	height: 575px;
	width: 100%;
	margin: 10px;
  padding: 10px;
	margin-right: 300px;
	background-image: url("./budgetgrow.jpg");
	background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
	background-size: 75%;
}

#q {
	width: 35%;
	background-color: rgba(255, 255, 255, .6);
	margin-left: 650px;
}

#qw {
	color: olivedrab;
}


#c {
	height: 504px;
	width: 100%;
	margin: 10px;
  padding: 10px;
	background-image: url("./creditldn.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
	background-size: 75%;
}

#cc {
	width: 50%;
	background-color: rgba(255, 255, 255, .8);
	margin-left: -10px;
}

#cd {
	color: steelblue;
}

#p {
	height:675px;
	width:100%;
	margin: 10px;
  padding: 10px;
	background-image: url("./modernmansion.jpg");
	background-repeat: no-repeat;
  background-attachment: local;
  background-position: left;
	background-size: 70%;
}

#k {
	width: 50%;
	background-color: rgba(255, 255, 255, .8);
	margin-left: 700px;
}

#white {
	color: maroon;
}

#bottom {
	list-style: none;
	display: inline;
	justify-content: center;
	padding-left: 67px
}
