
body {
 background: property101.img
 font-family: "New Times Roman";
}

h2 {
  color: black;
  font-family: Verdana;
}

h3 {
 color: grey;
 font-family: Verdana;
}

h2 {
 color: black;
 font-family: Verdana;
}
